@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact Page";
}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div>
            <div class="input">
                <div style="margin: auto; color: rgba(0,0,0,0.6);">
                    <h1 class="font-weight-light">His & Her's</h1>
                    <h2 class="font-weight-light">Home and Office Cleaning</h2>
                    <h3 class="font-weight-light" style="display: flex;
                    justify-content: center;">Contact Us</h3>
                </div> 
            </div>
            <div class="parent">
                <p class="child phone-name">Kevin Blevins:</p>
                <a href="tel:2764945210">(276)494-5210</a>
            </div>
            <div class="parent">
                <p class="child phone-name">Deana Blevins:</p>
                <a href="tel:2764945210">(276)274-2246</a>
            </div>
            <br>
            <div class="input"> 
                <p>Here at His & Her's Cleaning, we realize you may have questions about our services. 
                    To keep your mind at ease, send us a message and we will do our best to provide you with the answers you need.</p>
            </div>
            <div class="input"> 
                <input class="input" type="text" id="fname" name="firstname" placeholder="First Name">
                        
                <input class="input" type="text" id="lname" name="lastname" placeholder="Last Name">
            </div>
            <div class="input"> 
                <input class="input" type="text" id="phone" name="phone" placeholder="Phone Number">
        
                <input class="input" type="text" id="email" name="email" placeholder="Email">
            </div>
            <div class="input">
                <textarea type="text" id="questions" name="questions" placeholder="Questions" style="height:100px"></textarea>
            </div>
            <div class="input">
                <input type="submit" value="Submit" style="background-color: rgba(146,222,192,1.0)"></
            </div>
        </div>        
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">We Offer Free Estimates!</p></div>
    </div>
</div>
