@{
    ViewData["Title"] = "Home Page";
}
<div class="masthead">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="images\m&k-2.jpg" href="index.html" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">His & Her's</h1>
            <h2 class="font-weight-light">Home and Office Cleaning</h2>
            <p>His & Her's is a cleaning service located in Southwest Virginia. We are the father and mother of six beautiful 
                children. His & Her's promises to provide high quality services. So, everyday messes are the least of your 
                worries when you are with your family.</p> 
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">We Offer Free Estimates!</p></div>
    </div>
    <br>
    <div>
        <h2 class="align-left">Reviews</h2>
    </div>   
    <br />
</div>