@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Services Page";
}
<!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Free Estimate</h2>
                            <p class="card-text">Get a customized cleaning to fit your needs!</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="Estimate">Get Started!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Have Questions</h2>
                            <p class="card-text">Send us a message with questions about your future cleaning!</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us!</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Services</h2>
            <p>His & Her's base priceing on a number of factors. The properties square footage, the services needed, milage, and the availabity of our staff.</p>
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Basic Services</h2>
                            <ul>
                                <li>Sweeping</li>
                                <li>Mopping</li>
                                <li>Vaccuming</li>
                                <li>Dusting</li>
                                <li>Sanitizing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Other Services</h2>
                            <ul>
                                <li>Sweeping</li>
                                <li>Mopping</li>
                                <li>Vaccuming</li>
                                <li>Dusting</li>
                                <li>Sanitizing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Other Services</h2>
                            <ul>
                                <li>Sweeping</li>
                                <li>Mopping</li>
                                <li>Vaccuming</li>
                                <li>Dusting</li>
                                <li>Sanitizing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
